body {
    font-family: "Noto Sans", sans-serif;
}

.swanlotus-main {
    font-family: "Noto Serif", serif;
}

.swanlotus-sidebar-left, .swanlotus-sidebar-right {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
}

pre, code {
    font-family: "Fira Mono", monospace;
}
