body {
    font-family: "Noto Sans", sans-serif;
}

#swanlotus-main {
    font-family: "Noto Serif", serif;
}

#swanlotus-sidebar {
    font-family: "Noto Sans", sans-serif;
}

p.swanlotus-bio {
    font-style: italic;
}

pre, code {
    font-family: "Fira Mono", monospace;
}
