/* Setting these two values so that navigation bar does not cover content area */
/* This is stated here: https://getbootstrap.com/docs/4.4/components/navbar/#placement */
body {
    padding-top: 6.25rem;
}

/* Navigation bar background color */
.navbar {
    background-color: #428BCA;
    padding-top: 0rem;
    padding-bottom: 0em;
}

/* Navigation inactive link color */
.navbar li a {
    color: #ddddeb;
}

/* Navigation link hover color */
.navbar li a:hover {
    color: white;
}

.nav-link {
    position: relative;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color:white;
    font-weight: bold;
}

.container-fluid {
    padding-left: 11rem;
    padding-right: 5rem;
}

.left-sidebar {
    padding-left: 5rem;
    padding-right: 3rem;
}

/* Main content area background color */
#swanlotus-main {
    background-color: pink;
}

/* Right sidebar background color */
#swanlotus-sidebar {
    background-color: #f5f5f5;
    padding: 1rem;
}

/* Footer area background color */
.swanlotus-footer {
    margin-top: 1rem;
    text-align: center;
    background-color: #428BCA;
    color: white;
}

.swanlotus-footer p {
    margin-bottom: 0rem;
}

div.sourceCode {
    background-color: lightyellow;
}
