body {
    background-color: grey;
}

/* Grid */
.container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "main main main sidebar"
        "footer footer footer footer";
    /* justify-content: center; */
    /* margin-top: 3.8rem;*/  /* Set so that navigation bar does not cover content */
}

/* Navigation bar background color */
.navbar {
    grid-area: navbar;
    background-color: #428BCA;
    padding-top: 0rem;
    padding-bottom: 0em;
}

/* Navigation inactive link color */
.navbar li a {
    color: #ddddeb;
}

/* Navigation link hover color */
.navbar li a:hover {
    color: white;
}

.nav-link {
    position: relative;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color:white;
    font-weight: bold;
}

/* Right sidebar area */
.swanlotus-sidebar {
    grid-area: sidebar;
    background-color: rgb(250, 248, 248);
}

/* Main content area */
.swanlotus-main {
    grid-area: main;
    /* max-width: 700px; */
    padding: 0rem 1rem;
    /* background-color: pink; */
}

/* Footer area background color */
.swanlotus-footer {
    grid-area: footer;
    text-align: center;
    background-color: #428BCA;
    color: white;
}

.swanlotus-footer p {
    margin-bottom: 0rem;
}

div.sourceCode {
    background-color: lightyellow;
}
