[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
blinker = "*"
commonmark = "*"
docutils = "*"
feedgenerator = "*"
markdown = "*"
markdown-word-count = "*"
pelican = "*"
pelican-pandoc-reader = "*"
python-dateutil = "*"
pytz = "*"
rich = "*"
six = "*"
soupsieve = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
Unidecode = "*"
typing-extensions = "*"
texttable = "*"

[dev-packages]
black = "*"
pydocstyle = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.13.0"
