body {
    font-family: "Noto Sans", sans-serif;
}

#main {
    font-family: "Noto Serif", serif;
}

#sidebar {
    font-family: "Noto Sans", sans-serif;
}

pre, code {
    font-family: "Fira Mono", monospace;
}
