@charset "utf-8"

/* Zenburn Code Styles */
@import "zenburn.scss"

/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap')

/* Fira Mono */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap')

/* Fonts */
$body-family: "Noto Serif", serif
$family-secondary: "Source Sans Pro", sans-serif
$family-code: "Fira Mono", monospace

/* Paddings */
$code-padding: 0em
$table-cell-padding: 0 1em 0 0
$navbar-padding: 0em

/* Margins */
$navbar-margin: 0 0.75em

/* Text */
$link-decoration: underline


/* Bulma Styles */
@import "../bulma-0.9.1/sass/utilities/_all.sass"
@import "../bulma-0.9.1/sass/base/_all.sass"
@import "../bulma-0.9.1/sass/elements/container.sass"
@import "../bulma-0.9.1/sass/components/navbar.sass"
@import "../bulma-0.9.1/sass/elements/content.sass"
@import "../bulma-0.9.1/sass/elements/button.sass"
@import "../bulma-0.9.1/sass/helpers/typography.sass"
@import "../bulma-0.9.1/sass/grid/tiles.sass"
@import "../bulma-0.9.1/sass/layout/footer.sass"

/* Background Colors */
$code-background: transparent
$pre-background: $grey-darker
$body-background-color: $grey
$navbar-background-color: $grey-dark

/* Foreground Colors */
$code-block-text: $grey-lighter
$navbar-item-color: $white

/* Set Background for body tag */
html
    background-color: $body-background-color

/* Styles for navigation bar */
.navbar,
.container .navbar .navbar-menu,
.container .navbar .navbar-brand
    background-color: $navbar-background-color
    margin: $navbar-margin
    padding: $navbar-padding

.navbar-item img
    max-height: 4em

.navbar a
    color: $navbar-item-color
    font-family: $family-secondary
    font-size: larger

.navbar a:hover
    background-color: $navbar-background-color
    color: $navbar-item-color
    text-decoration: $link-decoration

.navbar a.navbar-item.current
    color: $navbar-item-color
    border-bottom: $white 3px solid
    font-weight: $weight-bold

#two-column
    padding: 0 0.75em

/* Styles for main column */
#main
    background-color: $grey-lighter
    color: $black
    font-family: $body-family
    padding: 1.65em
    order: 2

/* Styles for sidebar */
#sidebar
    background-color: $info-dark
    color: $white
    font-family: $family-secondary
    padding: 1.65em
    order: 1

#sidebar a
    color: $white

/* Styles for code blocks */
pre
    background-color: $pre-background
    color: $code-block-text

code
    background-color: $code-background
    color: $warning-dark
    padding: $code-padding

/* Styles for links */
a
    color: $info-dark

a:hover
    text-decoration: $link-decoration

/* Styles for blog index */
.content ol#post-list
    list-style-type: none

.content ol#post-list li
    margin-bottom: 1em

/* Styles for articles */
.content p.author, .content p.date, .content ul.categories, .content ul.tags
    margin-top: 0em
    margin-bottom: 0em
    font-family: $family-secondary
    font-size: smaller

.content ul.tags, .content ul.categories
    margin-left: 0em

.content ul.tags
    margin-bottom: 1em

.content ul.categories
    margin-bottom: 0.5em
    margin-top: 2em

.content ul.tags li, .content ul.categories li
    display: inline
    list-style-type: none

.content header
    margin-bottom: 1em

.content .article-footer
    font-family: $family-secondary
    font-size: $size-7
    margin-top: 2em
    margin-bottom: 0.5em

.content .article-footer time
    margin-bottom: 0em

.content .article-footer time.first-written
    float: left

.content .article-footer time.last-modified
    float: right

.content .post-info time.published
    font-size: smaller
    font-family: $family-secondary

/* Spacing between last line of lineblock and first line of next paragraph */
.content div.line-block
    margin-bottom: 1em

/* Styles for figures */
.content figure figcaption
    font-family: $family-secondary
    font-style: normal
    font-size: smaller

/* Styles for tables */
.content table
    margin: 0 auto
    width: 75%

.content table th, .content table td
    padding: $table-cell-padding

.paginator span.prev-links
    float: left

.paginator span.next-links
    float: right

/* Styles for footer */
.footer
    background-color: $warning-light
    color: $black
    font-family: $family-secondary
    padding: 0em
