{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}
{% block ogtitle %}{{ SITENAME }} - Archives{% endblock %}"
{% block ogurl %}{{ SITEURL }}/archives.html{% endblock %}

{% block content %}
<h1>Archives</h1>

<dl>
{% set ns = namespace(article_year="1970") %}
{% set articles = articles if not all_articles else all_articles %}
{% for article in articles %}
    {% if ns.article_year != article.modified.strftime("%Y") %}
        <dt>{{ article.modified.strftime("%Y") }}</dt>
    {% endif %}
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% set ns.article_year = article.modified.strftime("%Y") %}
{% endfor %}
</dl>
{% endblock %}
