{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  {{ article.content }}
  <div class="article-footer">
    {% if article.date %}
    <time datetime="{{ article.date.isoformat() }}">First Written: {{ article.locale_date }}</time>
    {% endif %}
    {% if article.modified %}
    <time datetime="{{ article.modified.isoformat() }}">Last Modified: {{article.locale_modified }}</time>
    {% endif %}
  </div>
{% endblock %}
