{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  <span id=date>Published on: {{ article.locale_date }}</span>
  {{ article.content }}
{% endblock %}
