{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  <header>
    <h1 id="{{ article.title }}">{{ article.title }}</h1>
    <p class="author">{{ article.author }}</p>
    {% if article.locale_date and article.locale_modified %}
    <p class="date">{{ article.locale_date }} | {{ article.locale_modified }}</p>
    {% elif article.locale_date %}
      <p class="date">{{ article.locale_date }}</p>
    {% endif %}
  </header>
  {{ article.content }}
{% endblock %}
