
{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <header>
    {% if page.content_title %}
      <h1 id="{{ page.content_title|lower|replace(' ', '-') }}">{{ page.content_title }}</h1>
    {% else %}
      <h1 id="{{ page.title|lower|replace(' ', '-') }}">{{ page.title }}</h1>
    {% endif %}
  </header>
  {{ page.content }}
{% endblock %}
