
{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{% endblock %}
{% block ogtitle %}{{ SITENAME }} - {{ page.title|striptags }}{% endblock %}"
{% block ogurl %}{{ SITEURL }}/{{ page.save_as }}{% endblock %}

{% block ogimage %}
{% if page.opengraphimage %}
{{ SITEURL }}/blogs/images/{{ page.opengraphimage }}
{% else %}
{{ SITEURL }}/images/swanlotus-open-graph-image.jpg
{% endif %}
{% endblock %}

{% block ogimagesecure %}
{% if page.opengraphimage %}
{{ SITEURL }}/blogs/images/{{ page.opengraphimage }}
{% else %}
{{ SITEURL }}/images/swanlotus-open-graph-image.jpg
{% endif %}
{% endblock %}

{% block head %}
  {{ super() }}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords|join(", ") }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <header>
    {% if page.content_title %}
      <h1 id="{{ page.content_title|lower|replace(' ', '-') }}">{{ page.content_title }}</h1>
    {% else %}
      <h1 id="{{ page.title|lower|replace(' ', '-') }}">{{ page.title }}</h1>
    {% endif %}
  </header>
  {{ page.content }}
{% endblock %}
