{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Search{% endblock %}
{% block ogtitle %}{{ SITENAME }} - Search{% endblock %}"
{% block ogurl %}{{ SITEURL }}/search.html{% endblock %}

{% block content %}
<h1>Search SwanLotus</h1>
<div class="stork-wrapper-edible">
    <input data-stork="federalist-edible" class="stork-input" placeholder="Search SwanLotus"/>
    <div data-stork="federalist-edible-output" class="stork-output is-size-6-mobile is-size-5-tablet is-size-4-desktop"></div>
</div>
{% endblock %}
